/* Estilos generales */
body {
    font-family: "Arial", sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Estilos para el header */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}
header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
header h1 {
    margin: 10px 0;
}

/* Estilos para la navegación */
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #555;
    transition: background-color 0.3s;
}
nav ul li a:hover {
    background-color: #777;
}

/* Estilos para las secciones */
section {
    padding: 20px;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
section h2 {
    color: #333;
}
section p {
    color: #666;
}
section table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #ddd;
}
section th, section td {
    padding: 8px;
    border: 1px solid #ddd;
}

/* Estilos para el header */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}
#redes-sociales img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 5px;
}
#educacion img {
    width: 600px;
    margin: 5px;
}

footer {
    display: flex;
    justify-content: center; /* Para centrar horizontalmente */
    align-items: center; /* Para centrar verticalmente */
    height: 50px; /* Ajusta la altura según sea necesario */
    background-color: #e0e0e0;
}
